{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Cloud Book</title>
</head>
<body>
<header>
    {% if user.is_authenticated %}
    <nav class="basenavbar">

        <a class="addanchor" href="{% url 'newnote' %}"><img src="{% static 'imgs/addnew.png' %}" alt="Add Note"></img></a>

        <a class="browseanchor" href="{% url 'browse' %}"><img src="{% static 'imgs/browsenotes.png' %}" alt="Browse Notes"></img></a>
        
        <a class="signoutanchor" href="{% url 'signout' %}"><img src="{% static 'imgs/signouticon.png' %}" alt="sign out button"></img></a>
    
    </nav>
    <h1>Cloud Book</h1>
    {% endif %}
</header>

<main>
{% block content %}

{% if messages %}
{% for message in messages %}
<h2> {{ message }} </h2>
{% endfor %}
{% endif %}

{% endblock %}
</main>

<footer>

    <div class="textdiv">
        <h3 class="disclaimer">Disclaimer!</h3>
        <p>Your Notes can currently be seen by yourself and the Admin aka me.
        I am planing on changing this in the future to make a secure and private notes app</p>
        <a target="blank" href="https://github.com/mejkej/cloudbook">Info, Resources & More!</a>
    </div>
    
</footer>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>