{% load static %}
<style>
    body {
    /* BODY STYLING */
        text-align:center;
        background-image: url("{% static 'imgs/bgimg.jpg' %}");
        background-size: cover;
        overflow-y:auto;
        background-position: center;
        background-repeat: repeat;
        font-family: Helvetica, sans-serif;
        height:fit-content;
        width:100vw;
        margin:0 auto;
        border:0;
        color:white;
        
}   
    body h2 .success {
        color:rgb(14, 234, 14);
    }

</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Cloud Book</title>
</head>
<body>

<header>
    {% if user.is_authenticated %}
    <nav class="basenavbar">

        <a class="addanchor" href="{% url 'newnote' %}"><img src="{% static 'imgs/addnew.png' %}" alt="Add Note"></img></a>

        <a class="browseanchor" href="{% url 'browse' %}"><img src="{% static 'imgs/browsenotes.png' %}" alt="Browse Notes"></img></a>
        
        <a class="signoutanchor" href="{% url 'signout' %}"><img src="{% static 'imgs/signouticon.png' %}" alt="sign out button"></img></a>
    
    </nav>
    <h1>Cloud Book</h1>
    {% endif %}
</header>

<main>
{% block content %}

{% if messages %}
{% for message in messages %}
{% if message.tags %}
<h2 class="{{ message.tags }}"> {% endif %} {{ message }}</h2>
{% endfor %}
{% endif %}

{% endblock %}
<footer>
    <div class="textdiv">
        <h3 class="disclaimer">Disclaimer!</h3>
        <p>Your Notes can currently be seen by yourself and the Admin aka me.
        I am planing on changing this in the future to make a completely private and secure notes app.</p>
        <a target="blank" href="https://github.com/mejkej/cloudbook">Info, Resources & More!</a>
    </div>
</footer>
</main>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>