{% extends 'base.html' %}
{% block content %}
<div class="maindiv">
    
    <h1>Click note title for more options</h1>

        {% csrf_token %}

        <div class="browsenotes">
        {% if notes %}
        {% for note in notes %}
        <h3><a href="{% url 'read' pk=note.pk  %}">{{ note.title }}</a><p>Created: {{ note.created_at }} <br> Last Updated: {{ note.updated_at }}</p></h3> 
        
        {% endfor %}
        {% endif %}
        </div>

        {% if messages %}
        {% for message in messages %}

        <h2 class="success"> {{ message }} </h2>

        {% endfor %}
        {% endif %}
    <a href="{% url 'base' %}"><button>Close</button></a>

</div>
{% endblock %}

