{% extends "base.html" %}
{% block content %}
<div class="maindiv">
    {% if messages %}
    {% for message in messages %}
    <h2 class="success"> {{ message }} </h2>
    {% endfor %}
    {% endif %}
    <form method="POST" class="form">
        {% csrf_token %}
        <h2>{{ note.title }}</h2>
        <div class="notecontentdiv">
            <p>{{ note.content }}</p>
            <p>Created: {{ note.created_at }} <br> Last Updated: {{ note.updated_at }}</p>
            
        </div>
        <div class="btns">
            <button> <a href="{% url 'edit' pk=note.pk %}">Edit</a></button>
            <button> <a href="{% url 'delete' pk=note.pk %}">Delete</a></button>
            <button> <a href="{% url 'browse' %}">Browse</a></button>
        </div>
    </form>
</div>
{% endblock %}

