{% extends "base.html" %}
{% block content %}
<div class="maindiv">
    {% if messages %}
    {% for message in messages %}
    <h2 class="success"> {{ message }} </h2>
    {% endfor %}
    {% endif %}
    <form method="POST" class="form">
        {% csrf_token %}
        <h2>{{ note.title }}</h2>
        <div class="notecontentdiv">
            <p>{{ note.content }}</p>
            <p>Created: {{ note.created_at }} <br> Last Updated: {{ note.updated_at }}</p>
        </div>
    </form>
        
    <a href="{% url 'edit' pk=note.pk %}"><button>Edit</button></a>
    <br>
    <a href="{% url 'delete' pk=note.pk %}"><button>Delete</button></a>
    <br>
    <a href="{% url 'browse' %}"><button>Browse</button></a>
</div>
{% endblock %}

