{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Cloud Book</title>
</head>

<body>

<header>
    <h1>Welcome to Cloud Book</h1>
        <nav>
            <a class="signinorupanchor" href="{% url 'signin' %}"><h2>To Sign In?</h2></a>
        </nav>       
</header>

<main>

    <div class="maindiv">
        <h2>Sign Up</h2>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <h3 id="signupsuccess"> {{ message }} </h3>
        {% else %}
        <h3> {{ message }} </h3>
        {% endif %}
        {% endfor %}
        {% endif %}

        <form method="post" class="form">

            {% csrf_token %}

            {% for field in form %}
            <p>{{ field }}</p>
            {% if field.errors %}
            {{ field.errors }}
            {% endif %}
            {% endfor %}

            <button class="submitformbtn" value="form" name="form" type="submit">Submit</button>
        </form>

    </div>

</main>

<footer>

</footer>
<script src="{% static 'js/signup.js' %}"></script>
</body>
</html>