{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="image" type="image" href="{% static 'imgs/bgimg.jpeg' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Sign In</title>
</head>

<body>

<header>
    <h1>Welcome to Cloud Book</h1>
        <nav>
            <a class="signinorupanchor" href="{% url 'signup' %}"><h2>To Sign Up?</h2></a>
        </nav>
</header>

<main>

    <div class="maindiv" id="maindivpreauth">

        {% if messages %}
        {% for message in messages %}
        {% if message.tags %}
        <h2 class="{{ message.tags }}"> {% endif %} {{ message }}</h2>
        {% endfor %}
        {% endif %}

        <h2>Sign In</h2>
        
        <form method="POST" class="form">

            {% csrf_token %}

            {% for field in form %}

            <p> {{ field }} </p>

                {% endfor %}
        
            <button class="submitformbtn" value="form" name="form" type="submit">Submit</button>
            
        </form>
    </div>
    <footer>
        <div class="textdiv">
            <h3 class="disclaimer">Disclaimer!</h3>
            <p>Your Notes can currently be seen by yourself and the Admin aka me.
            I am planing on changing this in the future to make a completely private and secure notes app.</p>
            <a target="blank" href="https://github.com/mejkej/cloudbook">Info, Resources & More!</a>
        </div>
    </footer>
</main>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>