{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>CloudBook</title>
</head>

<body>

<header>
    <h1>Welcome to Cloud Book</h1>
        <nav>
            <a href=""><h3>To Sign In?</h3></a>
        </nav>       
</header>

<main>

    <div class="maindiv">
        <h2>Sign Up</h2>

    </div>

</main>

<footer>

</footer>
    
</body>
</html>